<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Please login</title>
</head>

<body>
<div>
    <form name="f" th:action="@{/perform-login}" method="post">
        <fieldset>
            <legend>Sign in</legend>
            <div style ="color: red;" th:if="${param.error}" class="alert alert-error" >
                Invalid username and password.
            </div>

            <div style ="color: green;" th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <label for="user" style="font-weight: 600;">User Name</label>
            <input type="text" id="user" name="user"/>
            <label for="pass" style="font-weight: 600;">Password</label>
            <input type="password" id="pass" name="pass"/>
            <div class="form-actions">
                <button type="submit" class="btn">Log in</button>
            </div>
            <div >
                <p>
                <h5><a href=registration/>Зарегистрироваться</a></h5>
                </p>
            </div>
        </fieldset>
    </form>

</div>
</body>
</html>