<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>Registration</title>
    <link href="style.css" rel="stylesheet">
    <style>
        h5 {
            margin-bottom: 0px;
        }
    </style>
</head>
<body>
<p><a href=/fitnessWeb-app>Return to login</a></p>
<h1>Registration Form</h1>
<form th:action="@{/registration/user}" th:object="${usersDto}" method="post">
    <fieldset>
        <div>
            <h5>Логин:</h5>
            <input type="text" th:field="*{login}" />
            <p th:style="'color:red'" th:if="${#fields.hasErrors('login')}" class="label label-danger"
               th:errors="*{login}"></p>
        </div>
        <div>
            <h5>Пароль:</h5>
            <input type="text" th:field="*{password}" />
            <p th:style="'color:red'" th:if="${#fields.hasErrors('password')}" class="label label-danger"
               th:errors="*{password}"></p>
        </div>
        <div>
            <h5>Имя:</h5>
            <input type="text" th:field="*{firstName}" />
            <p th:style="'color:red'" th:if="${#fields.hasErrors('firstName')}" class="label label-danger"
               th:errors="*{firstName}"></p>
        </div>
        <div>
            <h5>Фамилия:</h5>
            <input type="text" th:field="*{lastName}" />
            <p th:style="'color:red'" th:if="${#fields.hasErrors('lastName')}" class="label label-danger"
               th:errors="*{lastName}"></p>
        </div>
        <div>
            <h5>Дата рождения:</h5>
            <input type="date" th:field="*{dateOfBirth}" />
            <p th:style="'color:red'" th:if="${#fields.hasErrors('dateOfBirth')}" class="label label-danger"
               th:errors="*{dateOfBirth}"></p>
        </div>
        <div>
            <h5>Пол:</h5>
            <input type="text" th:field="*{sex}"/>
            <p th:style="'color:red'" th:if="${#fields.hasErrors('sex')}" class="label label-danger"
               th:errors="*{sex}"></p>
        </div>
        <div>
            <h5>Вес:</h5>
            <input type="number" step="1.0" th:field="*{weight}" />
            <p th:style="'color:red'" th:if="${#fields.hasErrors('weight')}" class="label label-danger"
               th:errors="*{weight}"></p>
        </div>
        <div>
            <h5>Электронная почта:</h5>
            <input type="text" th:field="*{email}" />
            <p th:style="'color:red'" th:if="${#fields.hasErrors('email')}" class="label label-danger"
               th:errors="*{email}"></p>
        </div>

        <div class="submit">
            <button type="submit" name="Save changes" />Register me</button>
        </div>
    </fieldset>
</form>

</body>
</html>