<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8" />
  <title>Fitness Programs</title>
  <link href="style.css" rel="stylesheet">
</head>
<body>
<table width="100%">
  <tr>
    <td width="5%" align="right">Username:</td>
    <th width="45%" align="left"><span sec:authentication="name">Username</span></th>
    <th width="50%" align="right">
      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
      </form>
    </th>
  </tr>
</table>
<p><a href=/fitnessweb-app>Return to main page</a></p>
<h1>FITNESS PROGRAMS OF THE SELECTED CATEGORY</h1>
<font size="2.5">
  <table border="3" style="width:500px" width="100%">
    <tr>
      <th >Название</th>
      <th >Отзывы</th>
    <tbody>
    <tr th:each="programFit:${allPrograms}">
      <td>
        <span th:text="${programFit.shortName}" ></span>
      </td>
      </td>
      <td >
        <a th:href="@{/admin/category/program/{id}/reviews (id=${programFit.id})}" >
          View reviews
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</font>
</body>
</html>