<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8" />
    <title>Reviews</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<table width="100%">
    <tr>
        <td width="5%" align="right">Username:</td>
        <th width="45%" align="left"><span sec:authentication="name">Username</span></th>
        <th width="50%" align="right">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form>
        </th>
    </tr>
</table>
<p><a href=/fitnessWeb-app>Return to main page</a></p>
<p><a th:href="@{${req}}">Return to previous page</a></p>
<h1>REVIEWS</h1>
<font size="2.5">
    <table border="3" style="width:500px" width="100%">
        <tr>
            <th>Имя автора</th>
            <th>Отзыв</th>
            <th> Корректировать</th>
        </tr>
        <tbody>
        <tr th:each="rev:${reviewList}">
            <td>
                <span th:text= "${rev.authorName}" />
            </td>
            <td>
                <span th:text="${rev.text}" ></span>
            </td>
            <td>
                <a th:href="@{/admin/category/program/reviews/{id} (id=${rev.id})}" >
                    Edit review
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</font>
</body>
</html>