<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8" />
    <title>Review</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<table width="100%">
    <tr>
        <td width="5%" align="right">Username:</td>
        <th width="45%" align="left"><span sec:authentication="name">Username</span></th>
        <th width="50%" align="right">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form>
        </th>
    </tr>
</table>
<p><a href=/fitnessWeb-app>Return to main page</a></p>
<h1>CREATE REVIEW</h1>
<form th:object="${reviewDto}" method="post">

    <div>
        <input type="text" th:field="*{id}" th:hidden="true"/>
    </div>
    <div>
        <input type="text" th:field="*{authorId}" th:hidden="true"/>
    </div>
    <div>
        <input type="text" th:field="*{authorName}" th:hidden="true"/>
    </div>
    <div>
        <h3>Отзыв:</h3>
        <textarea rows="15" cols="122" th:field="*{text}" />
        <p th:style="'color:red'" th:if="${#fields.hasErrors('text')}" class="label label-danger"
           th:errors="*{text}"></p>
    </div>

    <div class="submit">
        <button type="submit" th:action="@{/admin/category/program/reviews/__${reviewDto.id}__}"/>Save review</button>
    </div>
</form>

</body>
</html>