<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8" />
    <title>Users</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<table width="100%">
    <tr>
        <td width="5%" align="right">Username:</td>
        <th width="45%" align="left"><span sec:authentication="name">Username</span></th>
        <th width="50%" align="right">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form>
        </th>
    </tr>
</table>
<p><a href=/fitnessweb-app>Return to main page</a></p>
<h1>Users found</h1>
<font size="2.5">
    <table border="3" style="width:500px" width="100%">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Год рождения</th>
            <th>Email</th>
            <th>Заблокировать</th>
        </tr>
        <tbody>
        <tr th:each="usr:${users}">
            <td>
                <span th:text="${usr.firstName}" ></span>
            </td>

            <td>
                <span th:text="${usr.lastName}" ></span>
            </td>

            <td>
                <span th:text="${usr.dateOfBirth}" ></span>
            </td>

            <td>
                <span th:text="${usr.email}" ></span>
            </td>

            <td >
                <a th:href="@{users/{id} (id=${usr.id})}" >
                    Block user
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</font>
</body>
</html>